body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #000;
}

header a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 60px 40px;
}

/* PROJECTS */
#projects {
  margin-top: 40px;
}

.project {
  margin-bottom: 35px;
}

.project img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 12px 0;
  border-radius: 10px;
}

.project a {
  text-decoration: none;
  color: inherit;
}

/* TITLES */
h2 {
  color: #f5b400;
}
